{{!< default}}

<div class="">
    <p class="mb-10 dark:text-slate-200">
      Hey there 👋! I'm Pranav, co-founder and CEO of <a class="underline" target="_blank" rel="noreferrer noopener nofollow" href="https://chatwoot.com">Chatwoot</a>. This is my personal blog. I share my notes on entrepreneurship, open-source software, and product design.
      If you're interested in my work, check out my <a class="underline" target="_blank" rel="noreferrer noopener nofollow" href="https://github.com/pranavrajs">Github profile</a>.
    </p>
    <div >
    {{#foreach posts}}
      {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}
    {{/foreach}}
    </div>
</div>
